*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
  position: fixed;
  height: auto;
  width: 100%;
  text-align: right;
  z-index: 999;
}

/* NAVBAR INSIDE HEADER */
nav ul li{
  list-style: none;
  display: inline-block;
  line-height: 70px;
  margin-right: 20px;
  margin-top: 20px;
}

nav ul li a{
  display: inline-block;
  text-decoration: none;
  line-height: 70px;
  text-align: center;
  color: black;
  background-color: white;
  width: 70px;
  border-radius: 50%;
}

nav ul li a:hover{
  background-color: darkgrey;
  box-shadow: 5px 5px 5px black;
}

nav ul li a:active{
  background-color: yellow;
}

/* /NAVBAR INSIDE HEADER */

/* MAIN */

/* Section with dimensions equal to the viewport */
.box-shoe{
  height: 100vh;
  width: 100%;
  background-color: red;
}

.overlay{
  position: relative;
  height:100%;
}

/* Section with dimensions 1/2 to the viewport, centered */
.overlay .shoe-info{
  position: absolute;
  width:50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay .shoe-info h2{
  color: yellow;
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
}
.overlay .shoe-info img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#shoe2{
  background-color: green;
}
#shoe3{
  background-color: yellow;
}

#shoe3 .overlay h2{
  color: green;
}

/* /MAIN */